<nav>
	<span class="main_nav-hamb_trigger" onclick={{action 'toggleNav'}}></span>
	<ul class="main_nav-link_list"><!-- 
	 --><li {{action "toggleNav"}}>{{#link-to "landing" class="main_nav-link"}}Index{{/link-to}}</li><!-- 
	 --><li {{action "toggleNav"}}>{{#link-to "front-end-development" class="main_nav-link"}}FrontEnd Dev{{/link-to}}</li><!-- 
	 --><li {{action "toggleNav"}}>{{#link-to "graphic-design" class="main_nav-link"}}Graphic Design{{/link-to}}</li><!-- 
	 --><li {{action "toggleNav"}}>{{#link-to "photography" class="main_nav-link"}}Photography{{/link-to}}</li><!-- 
 --></ul>
</nav>